<h1><%= link_to "arch", root_path %></h1>
<h2>>ユーザー一覧</h2>
<% @users.each_with_index do |user,i| %>
 <%=i+1%>:  <%= image_tag user.image_url, size: "250x200" if user.image? %><br>
 <a href="/users/<%= user.id %>"><%= user.name %></a><br>
<%end%>