<h3><%= @user.name %>'s page</h3>
<%= image_tag @user.image_url, size: "250x200" if @user.image? %><br>
<p>name : <%= @user.name %></p>
<p> email: <%= @user.email %></p>
<% if current_user.id == @user.id %>
  <%= link_to "edit", edit_user_registration_path %>
<% end %>
<div class="latestposts display-5 text-center mt-5 mb-5">
  <%= @user.name %>'s posts
</div>
  <div class="card-container">
    <% @user.arches.each do |arch| %>
      <%= link_to(arch_path(arch.id),class:'text-decoration-none') do %>
        <div class="card mb-5" style="width: 18rem;">
         title: <%= arch.title %><br>
          <% if arch.image? %>
              <%= image_tag arch.image_url, class: "card-img-top" %>
          <% else %>
          <div class="card-img-top"></div>
          <% end %>
          <div class="card-body">
            <% if user_signed_in? %>
              <h5 class="card-title"> <%= image_tag arch.user.image_url, size: "50x50" if arch.user.image? %><a href="/users/<%= arch.user.id %>" class="text-decoration-none" ><%= arch.user.name %></a></h5>
            <% else %>
              <h5 class="card-title"> <%= image_tag arch.user.image_url, size: "50x50" if arch.user.image? %><%= arch.user.name %></h5>
            <% end %>
              content: <%= arch.body %><br>
              <%= arch.created_at %><br>
              <% if user_signed_in? %>
                <% if current_user.id == arch.user_id %>
                  <%= link_to "edit", edit_arch_path(arch.id) ,class: "text-decoration-none" %>
                  <%= button_to "delete", arch_path(arch.id), method: :delete ,data: {confirm: "Do you want to delete it?"}, class: "delete_button" %>
                <% elsif current_user.admin? %>
                  <%= link_to "edit", edit_arch_path(arch.id) ,class: "edit_link" %>
                  <%= button_to "delete", arch_path(arch.id), method: :delete ,data: {confirm: "Do you want to delete it?"}, class: "delete_button" %>
                <% end %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="latestposts display-5 text-center mt-5 mb-5">
  favorite posts
  </div>
<div class="card-container">
    <% @user.liked_arches.each do |arch| %>
      <%= link_to(arch_path(arch.id),class:'text-decoration-none') do %>
        <div class="card mb-5" style="width: 18rem;">
         title: <%= arch.title %><br>
          <% if arch.image? %>
              <%= image_tag arch.image_url, class: "card-img-top" %>
          <% else %>
          <div class="card-img-top"></div>
          <% end %>
          <div class="card-body">
            <% if user_signed_in? %>
              <h5 class="card-title"> <%= image_tag arch.user.image_url, size: "50x50" if arch.user.image? %><a href="/users/<%= arch.user.id %>" class="text-decoration-none" ><%= arch.user.name %></a></h5>
            <% else %>
              <h5 class="card-title"> <%= image_tag arch.user.image_url, size: "50x50" if arch.user.image? %><%= arch.user.name %></h5>
            <% end %>
              content: <%= arch.body %><br>
              <%= arch.created_at %><br>
              <% if user_signed_in? %>
                <% if current_user.id == arch.user_id %>
                  <%= link_to "edit", edit_arch_path(arch.id) ,class: "text-decoration-none" %>
                  <%= button_to "delete", arch_path(arch.id), method: :delete ,data: {confirm: "Do you want to delete it?"}, class: "delete_button" %>
                <% elsif current_user.admin? %>
                  <%= link_to "edit", edit_arch_path(arch.id) ,class: "edit_link" %>
                  <%= button_to "delete", arch_path(arch.id), method: :delete ,data: {confirm: "Do you want to delete it?"}, class: "delete_button" %>
                <% end %>
              <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>