<% if user_signed_in? %>
<% if current_user.already_liked?(arch) %>
    <%= button_to arch_like_path(id: arch.id, arch_id: arch.id), method: :delete, remote: true do %>
      <i class="fas fa-heart"></i><%= arch.likes.count %>
    <% end %>
<% else %>
    <%= button_to arch_likes_path(id: arch.id, arch_id: arch.id), method: :post, remote: true do %>
      <i class="far fa-heart"></i><%= arch.likes.count %>
    <% end %>
<% end %>
<% else %>
<p>いいねの数 = </p><%= arch.likes.count %>
<% end %>