  <div class="top-image"></div>
  <div class="latestposts display-5 text-center mt-5 mb-5">Latest Posts</div>
  <div class="card-container">
    <% @archs.each do |arch| %>
      <div class="card mb-5" style="width: 18rem;">
        <%= link_to(arch_path(arch.id),class:'text-decoration-none text-success') do %>
          <div class="card-header card-title"><%= arch.title %></div>
          <% if arch.image? %>
              <%= image_tag arch.image_url, class: "card-img-top" %>
          <% else %>
            <%= image_tag "noimage.jpg",class: "card-img-top"  %>
          <% end %>
        <% end %>
          <div class="card-body">
            <% if user_signed_in? %>
              <h5 class="card-title"><span class="fz-10">投稿者 :</span><a href="/users/<%= arch.user.id %>" class="text-decoration-none text-success" ><%= arch.user.name %></a></h5>
            <% else %>
              <h5 class="card-title "><span class="fz-10">投稿者 :</span><%= arch.user.name if arch.user.name? %></h5>
            <% end %>
            <div class="d-flex justify-content-between align-items-center card-body-footer">
              <div class="btn-group">
                    <%= link_to "detail", arch_path(arch.id) ,class: "btn btn-sm btn-outline-secondary" %>
                <% if user_signed_in? %>
                  <% if current_user.id == arch.user_id %>
                    <%= link_to "edit", edit_arch_path(arch.id) ,class: "btn btn-sm btn-outline-secondary" %>
                    <%= link_to "delete", arch_path(arch.id), method: :delete ,data: {confirm: "Do you want to delete it?"},class: "btn btn-sm btn-outline-secondary" %>
                  <% elsif current_user.admin? %>
                    <%= link_to "edit", edit_arch_path(arch.id),class: "btn btn-sm btn-outline-secondary" %>
                    <%= link_to "delete", arch_path(arch.id), method: :delete ,data: {confirm: "Do you want to delete it?"},class: "btn btn-sm btn-outline-secondary" %>
                  <% end %>
                <% end %>
                </div>
                  <% if (@now - arch.created_at) <= 60 * 60 %>
                    <small class="text-muted"><%=((@now - arch.created_at) / 60).to_i.to_s + "分前" %></small>
                  <% elsif (@now - arch.created_at) <= 60 * 60 * 24 %>
                    <small class="text-muted"><%=((@now - arch.created_at) / 3600).to_i.to_s + "時間前" %></small>
                  <% elsif (@today - arch.created_at.to_date) <= 30 %>
                    <small class="text-muted"><%= (@today - arch.created_at.to_date).to_i.to_s + "日前" %></small>
                  <% else %>
                    <small class="text-muted"><%= arch.created_at.strftime('%Y-%m-%d') %></small>
                  <% end %>
              </div>
          </div>
        </div>
    <% end %>
  </div>
  <%= paginate @archs %>
<%= link_to(arch_new_path) do %>
  <i class="fa-solid fa-circle-plus fa-4x text-success"></i>
<% end %>