<div class="container_pt">
  <h3 class="mb-4">new post</h3>
  <%= form_for @arch , url: archs_path do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control form-control-lg mb-3" %>
    </div>
    <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :body, class:"form-control form-control-lg textarea mb-3",placeholder:"<コンセプト>\n<工夫した点>\n<苦労した点>\n etc..." %>
    </div>
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class:"form-control-file mb-3" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :release, '1' ,class:"form-check-input mb-3" %>
      <%= f.label :release, '公開', value: 1 %>
    </div>
    <div class="form-check form-check-inline">
    <%= f.radio_button :release, '0',class:"form-check-input mb-4" %>
      <%= f.label :release, '非公開', value: 0 %>
    </div><br>
    <%= f.submit "post",class:"btn btn-success" %>
  <% end %>
</div>