<div class="container">
  <h3>new post</h3>
  <%= form_for @arch , url: archs_path do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control form-control-lg" %>
    </div>
    <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class:"form-control form-control-lg" %>
    </div>
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image, class:"form-control-file" %>
    </div>
    <div class="form-check form-check-inline">
      <%= f.radio_button :release, '1' ,class:"form-check-input" %>
      <%= f.label :release, '公開', value: 1 %>
    </div>
    <div class="form-check form-check-inline">
    <%= f.radio_button :release, '0',class:"form-check-input" %>
      <%= f.label :release, '非公開', value: 0 %>
    </div><br>
    <%= f.submit "post",class:"btn btn-primary" %>
  <% end %>
</div>