<div class="container_pt">
  <h3>
    <%= @arch.title %>
    <% if user_signed_in? %>
      <% if current_user.id == @arch.user_id %>
        <%= link_to  edit_arch_path(@arch.id) do %>
          <i class="fa-solid fa-pen-to-square edit_link"></i>
        <% end %>
      <% end %>
  <% end %>
  </h3>

  <%= image_tag @arch.image_url, class: "show-image" if @arch.image? %>

  <div class="show-body">
  <h3 class="fz-20">content</h3>
    <p><%= text_url_to_link(safe_join((h(@arch.body)).split("\n"),tag(:br))).html_safe %></p>
  </div>

  <% if (@now - @arch.created_at) <= 60 * 60 %>
    <small class="text-muted"><%=((@now - @arch.created_at) / 60).to_i.to_s + "分前" %></small>
  <% elsif (@now - @arch.created_at) <= 60 * 60 * 24 %>
    <small class="text-muted"><%=((@now - @arch.created_at) / 3600).to_i.to_s + "時間前" %></small>
  <% elsif (@today - @arch.created_at.to_date) <= 30 %>
    <small class="text-muted"><%= (@today - @arch.created_at.to_date).to_i.to_s + "日前" %></small>
  <% else %>
    <small class="text-muted"><%= @arch.created_at.strftime('%Y-%m-%d') %></small>
  <% end %>
</div>